{% extends "base.html" %}
{% block content %}

<!--Form-->
<div class="container my-3">
    <h2 class="text-center">Are you sure you want to delete this taks?</h2>

    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label for="task" class="form-label">Task</label>
            <input type="text" class="form-control" name="task" id="task" value="{{task.taskTitle}}" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="desc" class="form-label">Task-Description</label>
            <textarea class="form-control" name="desc" id="desc" cols="30" rows="10">{{ task.taskDesc }}</textarea>
        </div>

        <button type="submit" class="btn btn-primary">Delete</button>
    </form>

</div>

{% endblock %}