{% extends "base.html" %}
{% block content %}

<div class="container my-3">
    <h2 class="text-center">Here is the list of your task</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Task</th>
          <th scope="col">Description</th>
          <th scope="col">Update</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
      <tbody>
    {% for i in task %}
        <tr>
          <th scope="row">{{forloop.counter}}</th>
          <td>{{i.taskTitle}}</td>
          <td>{{i.taskDesc}}</td>          
      
          <!--Update Button-->
          <td>
            <button type="button" class="btn btn-success">
              <a class="nav-link" id="nav-home" aria-current="page" href="{% url 'update_records' i.id %}">Update</a>
            </button>
          </td>
          
          <!--Delete Button-->
          <td>
            <button type="button" class="btn btn-danger">
              <a class="nav-link" id="nav-home" aria-current="page" href="{% url 'delete_records' i.id %}">Delete</a>
            </button>
          </td>

        </tr>

    {% endfor %}
      </tbody>
    </table>
</div>

{% endblock %}